@model IEnumerable<Restaurante.Models.Plato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Plato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Plato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlatoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlatoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlatoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
